html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  inset: -10em;
  background-image: url('/assets/background/byzantica-bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* Fix background on mobile devices */
@media (max-width: 768px) {
  body {
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-image: url('/assets/background/byzantica-bg.png');
  }
}